<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="be.uclouvain.lsinf1225.groupev2a.iqtest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo_puzzle"
        android:label="@string/APP_NAME"
        android:roundIcon="@drawable/app_logo_puzzle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.RegisterActivity"/>
        <!-- <activity android:name=".controller.game.GameActivity"/>-->
        <activity android:name=".controller.ProfileActivity" />

        <activity android:name=".controller.user.HistoryActivity"/>

        <activity android:name=".controller.game.CategoryActivity" />
        <activity android:name=".controller.game.ChooseModeActivity" />
        <activity android:name=".controller.game.GameActivity" />
        <activity android:name=".controller.QuestionActivity"/>
    </application>

</manifest>